<div class="row">
    <div class="column">
        <a href="/">
            <img src="../img/lsu.png" alt="LSU Logo" class="img-logo-landing">
        </a>
    </div>
    <div class="column">
        <a href="/help">
            <img src="../img/Question_fill.png" alt="Help and Resources" class="img-help">
        </a>
    </div>
</div>