<div class="header-title-dashboard">
    <ul class="flex-container list header-list">
        <li class="header-item item-one-dashboard">
            <a href="/dashboard"><img src="../img/lsu.png" alt="LSU Logo" class="img-logo-landing"></a>
        </li>
        <li class="header-item item-two-dashboard">
            <div id="errorResponse" class="flex-container user-prompt slide-in"></div>
            <div id="successResponse" class="flex-container user-prompt slide-in"></div>
        </li>
        <li class="header-item item-three-dashboard">
            <h5> {{ adminData.organization }} Officer | {{ adminData.first_name }} {{ adminData.last_name }}</h5>
        </li>
        <li class="header-item item-four-dashboard">
            <img src="../img/User_cicrle_duotone.png" alt="Profile Image">
        </li>
        <li class="header-item item-five-dashboard">
            <a href="/help"><img src="../img/Question_fill.png" alt="Help and Resources"></a>
        </li>
    </ul>
</div>
<input type="hidden" id="isUSGorSAO" value="{{isUSGorSAO}}" />