<nav class="sidenav">
    <!-- sidenav -->
    <div class="navi">
        <div class="container container-logo">
            <div class="holder holder-logo">
                <div class="icon icon-logo">
                    <img src="../img/lsu.png" alt="LSU Logo" class="img-logo" />
                </div>
                <div class="text text-logo">
                    Events and Attendance Tracking Website
                </div>
            </div>
        </div>
        <h1>EVENTS</h1>
        <hr />
        <div class="container">
            <div class="flex-container">
                <div class="icon icon-textflag">
                    <img src="../img/Stackframe_fill.png" alt="Text Flag" class="img-textflag" />
                </div>
                <div class="text text-textflag">
                    INSTITUTIONAL
                </div>
            </div>
        </div>
        {{#each events}}
        <a href="#" class="nav-link">
            <p class="eventNameSpecific">{{this.event_name}}</p>
        </a>
        {{/each}}

        {{#unless isUSGorSAO}}
        <div class="container container-textflag college-textflag">
            <div class="flex-container">
                <div class="icon icon-textflag">
                    <img src="../img/Stackframe_fill.png" alt="Text Flag" class="img-textflag" />
                </div>
                <div class="text text-textflag">
                    COLLEGE
                </div>
            </div>
        </div>
        <a href="#" class="nav-link">CCSEA WEEK</a>
        <a href="#" class="nav-link">GENERAL ASSEMBLY</a>
        <a href="#" class="nav-link">TEAM BUILDING</a>
        {{/unless}}

        <div class="container container-widget">
            <div class="holder holder-widget">
                <div class="icon icon-widget">
                    <a href="/dashboard">
                        <img src="../img/Menu.png" alt="Dashboard Icon" />
                    </a>
                </div>
                <div class="text text-widget text-widget-dashboard">
                    <a href="/dashboard" class="link-widget">DASHBOARD</a>
                </div>
            </div>

            <div class="holder holder-widget">
                {{!-- {{#if isUSGorSAO}} --}}
                <div class="icon icon-widget">
                    <a class="editMode">
                        <img src="../img/Edit.png" alt="Edit Mode Icon" />
                    </a>
                </div>
                <div class="text text-widget text-widget-edit">
                    <a class="editMode link-widget">EDIT MODE</a>
                </div>
                {{!-- {{else}}
                <div class="icon icon-widget">
                    <a href="/college-events-edit">
                        <img src="../img/Edit.png" alt="Edit Mode Icon" />
                    </a>
                </div>
                <div class="text text-widget text-widget-edit">
                    <a href="/college-events-edit" class="link-widget">EDIT MODE</a>
                </div>
                {{/if}} --}}
            </div>

            <div class="holder holder-widget">
                <div class="icon icon-widget">
                    <a href="/logout"><img src="../img/On_button.png" alt="Log Out Icon" /></a>
                </div>
                <div class="text text-widget text-widget-logout">
                    <a href="/logout" class="link-widget">LOG OUT</a>
                </div>
            </div>
        </div>
    </div>
</nav>