<nav>
    <div class="dashboard-nav">
        <div class="flex-container dashboard-nav-container">
            <div class="grid-searchspace">
                <div class="form-group">
                    <input type="search" id="gridsearchIDNumber" class="form-control" placeholder="Search ID Number..." maxlength="9">
                </div>
                <span id="searchButton" class="material-symbols-outlined">search</span>
            </div>
        </div>
        <hr>
        <div class="flex-container dashboard-nav-container main-icons-container">
            {{!-- {{#if isUSGorSAO}} --}}
            <div class="flex-container img-add-student-nav main-nav-icons">
                <a href="/dashboard-add-student">
                    <img src="../img/User_cicrle.png" alt="Add Student Account Nav Icon">
                </a>
            </div>
            <a href="/dashboard-add-student">ADD STUDENT</a>
            {{!-- {{else}}
            <div class="flex-container img-add-student-nav main-nav-icons">
                <a href="/dashboard-add-student-college">
                    <img src="../img/User_cicrle.png" alt="Add Student Account Nav Icon">
                </a>
            </div>
            <a href="/dashboard-add-student-college">ADD STUDENT</a>
            {{/if}} --}}
        </div>
        <div class="flex-container dashboard-nav-container main-icons-container">
            <div class="flex-container img-archives-nav main-nav-icons">
                <img src="../img/Arhive_alt_small.png" alt="Archives Nav Icon">
            </div>
            <a href="#">ARCHIVES</a>
        </div>

        <div class="container container-widget">
            <div class="holder holder-widget">
                <div class="icon icon-widget icon-widget-register">
                    <a href="/register">
                        <img src="../img/User_add.png" alt="Register Icon">
                    </a>
                </div>
                <div class="text text-widget text-widget-register">
                    <a href="/register" class="link-widget">REGISTER</a>
                </div>
            </div>
            <div class="holder holder-widget">
                <div class="icon icon-widget">
                    <a href="/logout">
                        <img src="../img/On_button.png" alt="Log Out Icon">
                    </a>
                </div>
                <div class="text text-widget text-widget-logout">
                    <a href="/logout" class="link-widget">LOG OUT</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<script src="../js/searchStudentProfileDashboard.js"></script>