<nav class="sidenav">
  <!-- sidenav -->
  <div class="navi">
    <div class="container container-logo">
      <div class="holder holder-logo">
        <div class="icon icon-logo">
          <a href="/college-events-admin"><img src="../img/lsu.png" alt="LSU Logo" class="img-logo" /></a>
        </div>
        <div class="text text-logo">
          Events and Attendance Tracking Website
        </div>
      </div>
    </div>
    <h1>EVENTS</h1>
    <hr />
    <div class="container container-textflag">
      <div class="flex-container">
        <div class="icon icon-textflag">
          <img src="../img/Stackframe_fill.png" alt="Text Flag" class="img-textflag" />
        </div>
        <div class="text text-textflag">INSTITUTIONAL</div>
      </div>
    </div>
    <a href="#" class="nav-link">PASIMULA</a>
    <a href="#" class="nav-link">KULTURANIMO</a>
    <a href="#" class="nav-link">PANAGHUGPONG</a>
    <a href="#" class="nav-link">PANAGSADYA</a>

    <div class="container container-textflag college-textflag">
      <div class="flex-container">
        <div class="icon icon-textflag">
          <img src="../img/Stackframe_fill.png" alt="Text Flag" class="img-textflag" />
        </div>
        <div class="text text-textflag">COLLEGE</div>
        <div class="icon icon-textflag textflag-add-event">
          <button id="myButtonEvent" class="myButtonEvent">
            <img src="../img/Add_ring_fill.png" alt="Add Event" class="img-add-event" />
          </button>

          <div id="myPopupEvent" class="popup myPopupEvent" style="display: none;">
            <div class="flex-container popup-content">
              <h1>ADD EVENT</h1>
              <div class="flex-container add-events-container">
                <div class="flex-container add-events-holder">
                  <input type="text" name="eventname" class="eventname add-event-inputs" placeholder="Event Name" />
                  <input type="text" name="daterange" class="eventdate add-event-inputs" />
                </div>

                <div class="flex-container add-activities-events-holder">
                  Activities
                  <hr class="popup-hr" />
                  <div class="inputs">
                    <input type="text" name="activityname" placeholder="Activity Name"
                      class="activityname-main add-event-inputs" />
                    <input type="date" name="activitydate" class="activitydate add-event-inputs" />
                  </div>
                </div>

                <div class="flex-container add-events-container-button">
                  <button id="addMore" type="button">Add More Activities</button>
                  <button id="closePopup" type="button">SAVE</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="nav-link">
      <div class="img-modify-event-container">
        <button type="button" id="myButtonEventEdit" class="modify-button">
          <img src="../img/Group 40.png" alt="Edit Event" class="img-edit-event" />
        </button>
        <!-- edit event -->
        <div id="myPopupEventEdit" class="popup" style="display: none;">
          <div class="flex-container popup-content">
            <h1>EDIT EVENT</h1>
            <div class="flex-container add-events-container">
              <div class="flex-container add-events-holder">
                <input type="text" name="eventname" class="eventname add-event-inputs" placeholder="Event Name" />
                <input type="text" name="daterange" class="eventdate add-event-inputs" />
              </div>

              <div class="flex-container add-events-container-button">
                <button id="closePopup" type="button">SAVE</button>
              </div>
            </div>
          </div>
        </div>

        <button type="button" id="myButtonEventDelete" class="modify-button">
          <img src="../img/Group 41.png" alt="Delete Event" class="img-delete-event" />
        </button>
        <div id="myPopupEventDelete" class="popup" style="display: none;">
          <div class="flex-container popup-content">
            <h1>DELETE EVENT?</h1>
            <div class="flex-container add-events-container-button">
              <button id="closeDeletePopup" type="button">DELETE</button>
            </div>
          </div>
        </div>
      </div>
      <p class="eventNameSpecific">CCSEA WEEK</p>
    </a>

    <a href="#" class="nav-link">
      <div class="img-modify-event-container">
        <button type="button" id="myButtonEventEdit" class="modify-button">
          <img src="../img/Group 40.png" alt="Edit Event" class="img-edit-event" />
        </button>
        <!-- edit event -->
        <div id="myPopupEventEdit" class="popup" style="display: none;">
          <div class="flex-container popup-content">
            <h1>EDIT EVENT</h1>
            <div class="flex-container add-events-container">
              <div class="flex-container add-events-holder">
                <input type="text" name="eventname" class="eventname add-event-inputs" placeholder="Event Name" />
                <input type="text" name="daterange" class="eventdate add-event-inputs" />
              </div>

              <div class="flex-container add-events-container-button">
                <button id="closePopup" type="button">SAVE</button>
              </div>
            </div>
          </div>
        </div>

        <button type="button" id="myButtonEventDelete" class="modify-button">
          <img src="../img/Group 41.png" alt="Delete Event" class="img-delete-event" />
        </button>
        <div id="myPopupEventDelete" class="popup" style="display: none;">
          <div class="flex-container popup-content">
            <h1>DELETE EVENT?</h1>
            <div class="flex-container add-events-container-button">
              <button id="closeDeletePopup" type="button">DELETE</button>
            </div>
          </div>
        </div>
      </div>
      <p class="eventNameSpecific">GENERAL ASSEMBLY</p>
    </a>

    <a href="#" class="nav-link">
      <div class="img-modify-event-container">
        <button type="button" id="myButtonEventEdit" class="modify-button">
          <img src="../img/Group 40.png" alt="Edit Event" class="img-edit-event" />
        </button>
        <!-- edit event -->
        <div id="myPopupEventEdit" class="popup" style="display: none;">
          <div class="flex-container popup-content">
            <h1>EDIT EVENT</h1>
            <div class="flex-container add-events-container">
              <div class="flex-container add-events-holder">
                <input type="text" name="eventname" class="eventname add-event-inputs" placeholder="Event Name" />
                <input type="text" name="daterange" class="eventdate add-event-inputs" />
              </div>

              <div class="flex-container add-events-container-button">
                <button id="closePopup" type="button">SAVE</button>
              </div>
            </div>
          </div>
        </div>

        <button type="button" id="myButtonEventDelete" class="modify-button">
          <img src="../img/Group 41.png" alt="Delete Event" class="img-delete-event" />
        </button>
        <div id="myPopupEventDelete" class="popup" style="display: none;">
          <div class="flex-container popup-content">
            <h1>DELETE EVENT?</h1>
            <div class="flex-container add-events-container-button">
              <button id="closeDeletePopup" type="button">DELETE</button>
            </div>
          </div>
        </div>
      </div>
      <p class="eventNameSpecific">TEAM BUILDING</p>
    </a>

    <div class="container container-widget">
      <div class="holder holder-widget">
        <div class="icon icon-widget">
          <a href="/college-events-admin">
            <img src="../img/Edit.png" alt="Edit Mode Icon" />
          </a>
        </div>
        <div class="text text-widget text-widget-edit">
          <a href="/college-events-admin" class="link-widget">EXIT EDIT MODE</a>
        </div>
      </div>
    </div>
  </div>
</nav>