<article>
    <div class="record-container">
        <div class="activities-record">
            <div class="flex-container activities-header">
                <div class="flex-container activities-header-one">
                    <div class="flex-container activity-title">
                        <h3>ACTIVITIES</h3>
                    </div>
                </div>
                <div class="flex-container activities-header-two">
                    <div class="sort-by">
                        <div class="flex-container sort-by-container">
                            <div class="sort-by-item">SORT BY</div>
                            <div>
                                <img src="../img/Group 30.png" alt="sort icon" />
                            </div>
                        </div>
                        <div class="dropdown-content">
                            <a href="#">ACTIVITY NAME</a>
                            <a href="#">DATE</a>
                            <a href="#">ROLE</a>
                            <a href="#">POINTS</a>
                            <a href="#">OFFICER-IN-CHARGE</a>
                        </div>
                    </div>
                    <div class="filter-by">
                        <div class="flex-container filter-by-container">
                            <div class="filter-by-item">FILTER BY</div>
                            <div>
                                <img src="../img/Group 30.png" alt="filter icon" />
                            </div>
                        </div>
                        <div class="dropdown-content dropdown-content-two">
                            <a href="#">ACTIVITIES PARTICIPATED</a>
                            <a href="#">ACTIVITIES MISSED</a>
                        </div>
                    </div>
                    <div class="activity-searchspace">
                        <div class="form-group">
                            <input type="search" id="searchActivity" class="form-control" placeholder="Search..." />
                        </div>
                        <span class="material-symbols-outlined" style="color:white;">search</span>
                    </div>
                </div>
            </div>
            <div class="participation-record-table">
                <!-- activities table -->
                <table class="activities-table">

                    <th>ACTIVITY NAME</th>
                    <th>DATE</th>
                    <th>ROLE</th>
                    <th>POINTS</th>
                    <th>OFFICER-IN-CHARGE</th>

                    <tbody id="eventTableBody">
                    </tbody>
                </table>
                <div class="results-grid-container">
                    <div class="grid-item-sixteen">
                        <div class="verification-item">VERIFY DAY</div>
                        <div class="verification-check">
                            <label class="checkbox-container">
                                <input checked="checked" type="checkbox" />
                                <div class="checkmark"></div>
                            </label>
                        </div>
                    </div>
                    <div class="grid-item-seventeen">
                        ACTIVITY
                        <br />
                        SUBTOTAL
                        <br />
                        <h1 id="activitySubtotal"></h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="attendance-record">
            <div class="flex-container attendance-header">
                <div class="flex-container activities-header-one">
                    <div class="attendance-title">
                        <h3>ATTENDANCE</h3>
                    </div>
                </div>
                <div class="flex-container attendance-header-two">
                    <div class="sort-by">
                        <div class="flex-container sort-by-container">
                            <div class="sort-by-item">
                                SORT BY
                            </div>
                            <div>
                                <img src="../img/Group 30.png" alt="sort icon" />
                            </div>
                        </div>
                        <div class="dropdown-content">
                            <a href="#">DATE</a>
                            <a href="#">AM</a>
                            <a href="#">PM</a>
                            <a href="#">POINTS</a>
                        </div>
                    </div>
                    <div class="filter-by">
                        <div class="flex-container filter-by-container">
                            <div class="filter-by-item">
                                FILTER BY
                            </div>
                            <div>
                                <img src="../img/Group 30.png" alt="filter icon" />
                            </div>
                        </div>
                        <div class="dropdown-content dropdown-content-two">
                            <a href="#">MORNING ABSENCES</a>
                            <a href="#">AFTERNOON ABSENCES</a>
                        </div>
                    </div>
                    <div class="attendance-searchspace">
                        <div class="form-group">
                            <input type="search" id="searchAttendance" class="form-control" placeholder="Search..." />
                        </div>
                        <span class="material-symbols-outlined" style="color:white;">
                            search
                        </span>
                    </div>
                </div>
            </div>

            <!-- participation record table -->
            <div class="participation-record-table">
                <!-- attendance table -->
                <table class="attendance-table">
                    <tr>
                        <th rowspan="2">DATE</th>
                        <th>AM</th>
                        <th colspan="2">PM</th>
                    </tr>
                    <tr>
                        <td>LOG-IN</td>
                        <td>LOG-IN</td>
                        <td>LOG-OUT</td>
                    </tr>
                    <tbody id="attendanceTableBody">
                    </tbody>
                </table>
                <div class="results-grid-container">
                    <div class="grid-item-seventeen">
                        <div class="container-attendance-subtotal">ATTENDANCE <br /> SUBTOTAL</div>
                        <div>
                            <h1 id="attendanceSubtotal"></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>