<head>
    <link rel="stylesheet" href="../css/dashboard.css">
</head>

<header>
    {{> headerDashboard}}
    <div class="dashboard-title">
        <h2>DASHBOARD</h2>
    </div>
</header>
<div class="container-main-dashboard">
    {{> navbarDashboard}}

    <article>
        <div class="container-dashboard">
            <div class="flex-container holder-dashboard">
                <div class="flex-container container-dashboard-message">
                    <div class="flex-container img-message-dashboard">
                        <img src="../img/Star 2.png" alt="La Salle Star">
                    </div>
                    <h2>Welcome to the Dashboard!</h2>
                </div>
            </div>
        </div>
    </article>
</div>