<head>
    <link rel="stylesheet" href="../css/dashboard.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<header>
    {{> headerDashboard}}
    <div class="dashboard-title">
        <h2>STUDENT PROFILE</h2>
    </div>
</header>
<div class="container-main-dashboard">
    <!-- navbar -->
    {{> navbarDashboard}}

    <!-- add student profile -->
    <article>
        <form action="/university-events-admin" method="POST" class="container-dashboard">
            <div class="flex-container holder-dashboard">
                <div class="flex-container container-dashboard-student-profile">
                    <div class="flex-container container-dashboard-student-profile-header">
                        <div class="dashboard-student-profile-header">
                            <h4>LAST NAME</h4>
                            <input type="text" id="lastnameInput" name="lastnameInput">
                        </div>
                        <div class="dashboard-student-profile-header">
                            <h4>FIRST NAME</h4>
                            <input type="text" id="firstnameInput" name="firstnameInput">
                        </div>
                        <div class="dashboard-student-profile-header">
                            <h4>MIDDLE NAME</h4>
                            <input type="text" id="middlenameInput" name="middlenameInput">
                        </div>
                    </div>

                    <hr>

                    <div class="flex-container container-dashboard-student-profile-body">
                        <div class="dashboard-student-profile-body">
                            <h4>ID NUMBER</h4>
                            <input type="text" id="idnumberInput" class="dashboard-input-body" name="idnumberInput"
                                maxlength="9">
                        </div>
                        <div class="dashboard-student-profile-body">
                            <h4>DEPARTMENT</h4>
                            <select id="departmentInput" class="form-control dashboard-input-body dashboard-dropdown"
                                name="departmentInput">
                                <option disabled="disabled" selected="selected"></option>
                                <option value="CAS">CAS</option>
                                <option value="CBA">CBA</option>
                                <option value="CCJE">CCJE</option>
                                <option value="CCSEA">CCSEA</option>
                                <option value="CON">CON</option>
                                <option value="CTE">CTE</option>
                                <option value="CTHM">CTHM</option>
                            </select>
                        </div>
                        <div class="dashboard-student-profile-body">
                            <h4>COURSE</h4>
                            <input type="text" class="dashboard-input-body" id="courseInput" name="courseInput">
                        </div>
                        <div class="dashboard-student-profile-body">
                            <h4>YEAR</h4>
                            <input type="number" class="dashboard-input-body" id="yearInput" name="yearInput">
                        </div>
                        <div class="dashboard-student-profile-body">
                            <h4>ACTIVE STATUS</h4>
                            <select id="activeStatusInput" class="form-control dashboard-input-body dashboard-dropdown"
                                name="activeStatusInput">
                                <option disabled="disabled" selected="selected"></option>
                                <option value="ACTIVE">ACTIVE</option>
                                <option value="INACTIVE">INACTIVE</option>
                            </select>
                        </div>
                        <div class="dashboard-student-profile-body">
                            <h4>EXEMPTION STATUS</h4>
                            <select id="exemptionStatusInput"
                                class="form-control dashboard-input-body dashboard-dropdown"
                                name="exemptionStatusInput">
                                <option disabled="disabled" selected="selected"></option>
                                <option value="EXEMPTED">EXEMPTED</option>
                                <option value="NOT EXEMPTED">NOT EXEMPTED</option>
                            </select>
                        </div>
                    </div>

                    <div class="flex-container dashboard-button">
                        <button type="button" id="addStudentProfile" class="buttons">ADD</button>
                    </div>

                    <div class="popup-container" id="popupContainer">
                        <div class="popup-box">
                            <span class="close-button" onclick="closePopupConfirmation()">&times;</span>
                            <h4>Add Student Profile?</h4>
                            <p>Please double-check information</p>
                            <div id="paragraphOne" class="paragraphPass"></div>
                            <div id="paragraphTwo" class="paragraphPass"></div>
                            <div id="paragraphThree" class="paragraphPass"></div>
                            <div id="paragraphFour" class="paragraphPass"></div>
                            <div id="paragraphFive" class="paragraphPass"></div>
                            <div id="paragraphSix" class="paragraphPass"></div>
                            <button class="buttons" onclick="confirmAction()">CONFIRM</button>
                            <button class="buttons" onclick="closePopupConfirmation()">CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </article>
</div>
{{#if message }}
<h4>{{message}}</h4>
{{/if}}
<script src="../js/dashboardAddStudent.js"></script>