<head>
    <link rel="stylesheet" href="../css/dashboard.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<header>
    {{> headerDashboard}}
    <div class="dashboard-title">
        <h2>STUDENT PROFILE</h2>
    </div>
</header>
<div class="container-main-dashboard">
    <!-- navbar -->
    {{> navbarDashboard}}

    <!-- add student profile -->
    <article>
        <form action="/university-events-admin" method="POST" class="container-dashboard">
            <div class="flex-container holder-dashboard">
                <div class="flex-container container-dashboard-student-profile">
                    <div class="flex-container container-dashboard-student-profile-header">
                        <div class="dashboard-student-profile-header">
                            <h4>LAST NAME</h4>
                            <input type="text" id="lastnameInput" name="lastnameInput">
                        </div>
                        <div class="dashboard-student-profile-header">
                            <h4>FIRST NAME</h4>
                            <input type="text" id="firstnameInput" name="firstnameInput">
                        </div>
                        <div class="dashboard-student-profile-header">
                            <h4>MIDDLE NAME</h4>
                            <input type="text" id="middlenameInput" name="middlenameInput">
                        </div>
                    </div>

                    <hr>

                    <div class="flex-container container-dashboard-student-profile-body">
                        <div class="dashboard-student-profile-body">
                            <h4>ID NUMBER</h4>
                            <input type="text" id="idnumberInput" class="dashboard-input-body" name="idnumberInput"
                                maxlength="10">
                        </div>
                        <div class="dashboard-student-profile-body">
                            <h4>DEPARTMENT</h4>
                            <select id="departmentInput" class="form-control dashboard-input-body"
                                name="departmentInput">
                                <option disabled="disabled" selected="selected"></option>
                                <option value="CAS">CAS</option>
                                <option value="CBA">CBA</option>
                                <option value="CCJE">CCJE</option>
                                <option value="CCSEA">CCSEA</option>
                                <option value="CON">CON</option>
                                <option value="CTE">CTE</option>
                                <option value="CTHM">CTHM</option>
                            </select>
                        </div>
                        <div class="dashboard-student-profile-body">
                            <h4>COURSE</h4>
                            <input type="text" class="dashboard-input-body" id="courseInput" name="courseInput">
                        </div>
                        <div class="dashboard-student-profile-body">
                            <h4>YEAR</h4>
                            <input type="number" class="dashboard-input-body" id="yearInput" name="yearInput">
                        </div>
                    </div>

                    <div class="flex-container dashboard-button">
                        <button type="button" id="addStudentProfile" class="buttons">ADD</button>
                    </div>

                    <div class="popup-container" id="popupContainer">
                        <div class="popup-box">
                            <span class="close-button" onclick="closePopupConfirmation()">&times;</span>
                            <h4>Add Student Profile?</h4>
                            <p>Please double-check information</p>
                            <div id="paragraphOne" class="paragraphPass"></div>
                            <div id="paragraphTwo" class="paragraphPass"></div>
                            <div id="paragraphThree" class="paragraphPass"></div>
                            <div id="paragraphFour" class="paragraphPass"></div>
                            <button class="buttons" onclick="confirmAction()">CONFIRM</button>
                            <button class="buttons" onclick="closePopupConfirmation()">CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </article>
</div>
<script>
    function showPopupConfirmation() {
        const lastNameInput = document.getElementById('lastnameInput');
        const lastName = lastNameInput.value;
        const confirmationMessageOne = `${lastName}`;

        const firstNameInput = document.getElementById('firstnameInput');
        const firstName = firstNameInput.value;
        const confirmationMessageTwo = `${firstName}`;

        const middleNameInput = document.getElementById('middlenameInput');
        const middleName = middleNameInput.value;
        const confirmationMessageThree = `${middleName}`;

        const idNumberInput = document.getElementById('idnumberInput');
        const idNumber = idNumberInput.value;
        const confirmationMessageFour = `${idNumber}`;

        const departmentInput = document.getElementById('departmentInput');
        const department = departmentInput.value;
        const confirmationMessageFive = `${department}`;

        const courseInput = document.getElementById('courseInput');
        const course = courseInput.value;
        const confirmationMessageSix = `${course}`;

        const yearInput = document.getElementById('yearInput');
        const year = yearInput.value;
        const confirmationMessageSeven = `${year}`;

        document.getElementById("paragraphOne").innerHTML =
            `${confirmationMessageOne}, ${confirmationMessageTwo} ${confirmationMessageThree}`;
        document.getElementById("paragraphTwo").innerHTML = `${confirmationMessageFour}`;
        document.getElementById("paragraphThree").innerHTML = `${confirmationMessageFive}`;
        document.getElementById("paragraphFour").innerHTML = `${confirmationMessageSix} - ${confirmationMessageSeven}`;

        const popup = document.getElementById('popupContainer');
        popup.style.display = 'block';
    }

    function closePopupConfirmation() {
        const popup = document.getElementById('popupContainer');
        popup.style.display = 'none';
    }

    function confirmAction() {
        closePopupConfirmation();
        // Extract data from the form
    }

    // Attach the showPopup function to the "ADD" button click event
    document.getElementById('addStudentProfile').addEventListener('click', showPopupConfirmation);
</script>