<head>
    <link rel="stylesheet" href="../css/welcome.css">
</head>

<header>
    {{> headerWelcome}}
    <div class="title title-help">
        <h1>FAQs</h1>
        <h3>Frequently Asked Questions</h3>
    </div>
</header>
<section>
    <div class="flex-container container-help">
        <div class="flex-container container-help-section container-help-one">
            <div class="container-help-text">
                <div class="help-question">
                    <p>Why is there a need to be verified?</p>
                </div>
                <div class="help-answer">
                    This is implemented so that students are encouraged to join the activities. There's a minimum of two
                    event stamps in order to be verified.
                </div>
            </div>
        </div>

        <div class="flex-container container-help-section container-help-three">
            <div class="container-help-text">
                <div class="help-question">
                    <p>Why is there a minimum of two stamps, why not 5?</p>
                </div>
                <div class="help-answer">
                    This is to ensure that the students are not too tired and can enjoy the events without thinking too
                    much about stamps.
                </div>
            </div>
        </div>

        <div class="flex-container container-help-section container-help-two">
            <div class="container-help-text">
                <div class="help-question">
                    <p>Why is there a long line every logout in comparison to the login?</p>
                </div>
                <div class="help-answer">
                    This is because the input of points is done in the logout. Doing this in the login might
                    compromise the events in the morning whereas in the logout, students are either encouraged to join
                    the night events or go home.
                </div>
            </div>
        </div>

        <div class="flex-container container-help-section container-help-three">
            <div class="container-help-text">
                <div class="help-question">
                    <p>Isn't the stamping process more complex than the system before?</p>
                </div>
                <div class="help-answer">
                    It is an easier system of attendance since there are less paperwork, only Google Sheets and the LSU
                    Passport are used.
                </div>
            </div>
        </div>

        <div class="flex-container container-help-section container-help-three">
            <div class="container-help-text">
                <div class="help-question">
                    <p>Why is the login and logout counted when not verified?</p>
                </div>
                <div class="help-answer">
                    There are students who do not have the courage to participate in activities due to different
                    reasons. In order to make sure that their time in school is still counted, the login and logout
                    points are still accounted for.
                </div>
            </div>
        </div>
    </div>
</section>