<head>
    <link rel="stylesheet" href="../css/welcome.css">
</head>
<header>
    {{> headerWelcome}}
    <div class="title">
        <h2>Events and Attendance Tracking Website</h2>
    </div>
    <div class="introduction">
        <span>Input an ID number to view the Student Events Participation Record.</span>
    </div>
    <div class="searchspace">
        <div class="form-group">
            <input type="search" id="searchIDNumber" class="form-control" placeholder="Search ID Number...">
        </div>
        <span class="material-symbols-outlined">search</span>
    </div>
    <div class="folder-bottom"></div>
    </div>
</header>