<head>
    <link rel="stylesheet" href="../css/welcome.css">
</head>

<header>
    <img src="../img/image 6.png" alt="" class="login-bg">
    <div class="row">
        <div class="column">
            <img src="../img/lsu.png" alt="LSU Logo" class="img-logo-landing">
        </div>
        <div class="column">
            {{#if message}}
            <div id="errorMessage" class="flex-container user-prompt slide-in">{{message}}</div>
            {{/if}}
        </div>
        <div class="column">
            <a href="/help">
                <img src="../img/Question_fill.png" alt="Help and Resources" class="img-help">
            </a>
        </div>
    </div>

    <div class="flex-container login-space">
        <div class="folder-bottom-above"></div>
        <div class="searchspace login-form">
            <h2>REGISTER</h2>
        </div>
        <form action="/auth/register" method="POST" class="folder-bottom-login">
            <div class="form-group">
                <input type="text" id="lastnameRegister" name="lastnameRegister" class="form-control form-register"
                    placeholder="LAST NAME" required>
            </div>
            <div class="form-group">
                <input type="text" id="firstnameRegister" name="firstnameRegister" class="form-control form-register"
                    placeholder="FIRST NAME" required>
            </div>
            <div class="form-group">
                <select id="organizationRegister" name="organizationRegister" class="form-control form-register">
                    <option disabled="disabled" selected="selected">ORGANIZATION</option>
                    <option value="SAO">SAO</option>
                    <option value="USG">USG</option>
                    <option value="CSO">CSO</option>
                    <optgroup label="Colleges">
                        <option value="CAS">CAS</option>
                        <option value="CBA">CBA</option>
                        <option value="CCJE">CCJE</option>
                        <option value="CCSEA">CCSEA</option>
                        <option value="CON">CON</option>
                        <option value="CTE">CTE</option>
                        <option value="CTHM">CTHM</option>
                    </optgroup>
                    <optgroup label="CAS ABO">
                        <option value="JSWAP">JSWAP</option>
                        <option value="LABELS">LABELS</option>
                        <option value="LSUPS">LSUPS</option>
                        <option value="POLISAYS">POLISAYS</option>
                    </optgroup>
                    <optgroup label="CBA ABO">
                        <option value="JFINEX">JFINEX</option>
                        <option value="JMEX">JMEX</option>
                        <option value="JPIA">JPIA</option>
                    </optgroup>
                    <optgroup label="CCSEA ABO">
                        <option value="ALGES">ALGES</option>
                        <option value="ICpEP">ICpEP</option>
                        <option value="IIEE">IIEE</option>
                        <option value="JIECEP">JIECEP</option>
                        <option value="LISSA">LISSA</option>
                        <option value="PICE">PICE</option>
                        <option value="SOURCE">SOURCE</option>
                        <option value="UAPSA">UAPSA</option>
                    </optgroup>
                    <optgroup label="CTE ABO">
                        <option value="ECC">ECC</option>
                        <option value="GENTLE">GENTLE</option>
                        <option value="GEM-O">GEM-O</option>
                        <option value="LapitBayan">LapitBayan</option>
                        <option value="LME">LME</option>
                        <option value="SPEM">SPEM</option>
                        <option value="SSS">SSS</option>
                    </optgroup>
                    <optgroup label="CTHM ABO">
                        <option value="FHARO">FHARO</option>
                        <option value="FTL">FTL</option>
                        <option value="SOTE">SOTE</option>
                    </optgroup>
                    <optgroup label="IBO">
                        <option value="Compatriots">Compatriots</option>
                        <option value="Cosplay Corps">Cosplay Corps</option>
                        <option value="Green Leaders">Green Leaders</option>
                        <option value="Kainos">Kainos</option>
                        <option value="Meeples">Meeples</option>
                        <option value="Micromantics">Micromantics</option>
                        <option value="Red Cross Youth">Red Cross Youth</option>
                        <option value="Soul Whisperers">Soul Whisperers</option>
                        <option value="Vanguard E-sports">Vanguard E-sports</option>
                    </optgroup>
                </select>
            </div>
            <div class="form-group">
                <input type="text" id="username" name="username" class="form-control form-register"
                    placeholder="USERNAME" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" class="form-control form-register"
                    placeholder="PASSWORD" required>
            </div>
            <div class="form-group">
                <input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control form-register"
                    placeholder="CONFIRM PASSWORD" required>
            </div>
            <button type="submit" id="register-button">
                REGISTER
            </button>
        </form>

    </div>
</header>