<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>

<input type="hidden" id="isStudentURL" value="{{isStudentURL}}" />
<div id="idNumberContainer" data-idNumber="{{idNumber}}" style="display: none;"></div>

{{> navbarUniversity}}

<main>
    <header>
        <!-- header -->
        <div class="flex-container header-container">
            <div class="header-title">
                <ul class="flex-container list header-list">
                    <li class="header-item item-one">
                        <h4>LSU Events and Attendance Tracking Website</h4>
                    </li>
                    <li class="header-item item-four">
                        <a href="/help"><img src="../img/Question_fill.png" alt="Help and Resources"></a>
                    </li>
                </ul>
            </div>
            <!-- profile -->
            <div class="grid-container">
                {{> profileStudent}}
                <div class="activestatus grid-item-nine item-status">{{studentData.active_status}}</div>
                <div class="exemptionstatus grid-item-ten item-status">{{studentData.exemption_status}}</div>
                <div class="grid-item-eleven item-points">TOTAL POINTS ACQUIRED</div>
                <div class="grid-item-twelve item-points total-points points-title">CURRENT DAY</div>
                <div class="grid-item-thirteen item-points total-points grid-points">
                    <h1>8</h1>
                </div>
                <div class="grid-item-fourteen item-points total-points points-title">CURRENT SEMESTER</div>
                <div class="grid-item-fifteen item-points total-points grid-points">
                    <h1>32</h1>
                </div>
            </div>
        </div>
    </header>

    <section>
        <!-- academic period -->
        <div class="flex-container academic-period-container">
            <div class="flex-container academic-year">
                <div class="academic-year-name academic-year-present">
                    <a href="#" id="main-record-link">A.Y. 2022-2023</a>
                </div>
                <div class="academic-year-name academic-year-past academic-year-previous">
                    <a href="#" id="main-record-link">A.Y. 2021-2022</a>
                </div>
                <div class="academic-year-name academic-year-past academic-year-others">
                    <a href="#" id="main-record-link">. . .</a>
                </div>
            </div>
        </div>
        <!-- semester -->
        <div class="flex-container semester-container">
            <div class="flex-container activity">
                <div id="recordEventName" class="recordEventName">EVENT NAME</div>
                <div class="activity-day">
                    <select name="activity day dropdown" id="activity-day-dropdown"></select>
                </div>
            </div>
            <div class="flex-container semester">
                <div class="semester-name semester-one">
                    <a href="#" id="main-record-link">1ST SEMESTER</a>
                </div>
                <div class="semester-name semester-two">
                    <a href="#" id="main-record-link">2ND SEMESTER</a>
                </div>
            </div>
        </div>
    </section>

    {{> tableRecords}}
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="../js/searchStudentProfileRecord.js"></script>
<script src="../js/studentRecord.js" type="module"></script>