<head>
    <link rel="stylesheet" href="../css/eventsedit.css">
</head>
{{> navbarUniversityEdit}}
<main>
    <header>
        <!-- header -->
        <div class="flex-container header-container">
            {{> headerRecords}}
            <!-- profile -->
            <div class="grid-container">
                {{> profileStudent}}
                <div class="activestatus grid-item-nine item-status">{{studentData.active_status}}</div>
                <div class="exemptionstatus grid-item-ten item-status">{{studentData.exemption_status}}</div>
                <button id="myButtonProfileEdit" class="grid-item-ten myButtonProfileEdit">
                    <img src="../img/Group 40.png" alt="Edit Student Profile" class="img-edit-student-profile" />
                </button>
            </div>
        </div>
    </header>
    <section>
        <!-- academic period -->
        <div class="flex-container academic-period-container">
            <div class="flex-container academic-year">
                <div class="academic-year-name academic-year-present">
                    <a href="#" id="main-record-link">A.Y. 2022-2023</a>
                </div>
                <div class="academic-year-name academic-year-past academic-year-previous">
                    <a href="#" id="main-record-link">A.Y. 2021-2022</a>
                </div>
                <div class="academic-year-name academic-year-past academic-year-others">
                    <a href="#" id="main-record-link">. . .</a>
                </div>
            </div>
        </div>
        <!-- semester -->
        <div class="flex-container semester-container">
            <div class="flex-container activity">
                <div id="recordEventName" class="recordEventName">EVENT NAME</div>
                <div class="activity-day">
                    <select name="activity day dropdown" id="activity-day-dropdown"></select>
                </div>
            </div>
            <div class="flex-container semester">
                <div class="semester-name semester-one">
                    <a href="#" id="main-record-link">1ST SEMESTER</a>
                </div>
                <div class="semester-name semester-two">
                    <a href="#" id="main-record-link">2ND SEMESTER</a>
                </div>
            </div>
        </div>
    </section>

    {{> tableRecordsEdit}}
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="../js/popup.js" type="module"></script>
<script src="../js/searchStudentProfile.js"></script>
<script src="../js/eventsEdit.js" type="module"></script>