<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>

{{> navbarUniversity}}

<main>
    <header>
        <!-- header -->
        <div class="flex-container header-container">
            {{> headerRecords}}
            <!-- profile -->
            <div class="grid-container">
                {{> profileStudent}}
                <div class="activestatus grid-item-nine item-status">{{studentData.active_status}}</div>
                <div class="exemptionstatus grid-item-ten item-status">{{studentData.exemption_status}}</div>
            </div>
        </div>
    </header>
    <section>
        <!-- academic period -->
        <div class="flex-container academic-period-container">
            <div class="flex-container academic-year">
                <div class="academic-year-name academic-year-present">
                    <a href="#" id="main-record-link">A.Y. 2022-2023</a>
                </div>
                <div class="academic-year-name academic-year-past academic-year-previous">
                    <a href="#" id="main-record-link">A.Y. 2021-2022</a>
                </div>
                <div class="academic-year-name academic-year-past academic-year-others">
                    <a href="#" id="main-record-link">. . .</a>
                </div>
            </div>
        </div>
        <!-- semester -->
        <div class="flex-container semester-container">
            <div class="flex-container activity">
                <div class="activity-name">CCSEA WEEK</div>
                <div class="activity-day">
                    <select name="activity day dropdown" id="activity-day-dropdown">
                        <option value="DAY 1" class="options">DAY 1</option>
                        <option value="DAY 2">DAY 2</option>
                        <option value="DAY 3">DAY 3</option>
                    </select>
                </div>
            </div>
            <div class="flex-container semester">
                <div class="semester-name semester-one">
                    <a href="#" id="main-record-link">1ST SEMESTER</a>
                </div>
                <div class="semester-name semester-two">
                    <a href="#" id="main-record-link">2ND SEMESTER</a>
                </div>
            </div>
        </div>
    </section>

    {{> tableRecords}}
</main>
<script src="../js/searchStudentProfile.js"></script>