<head>
    <link rel="stylesheet" href="../css/eventsedit.css">
</head>
{{> navbarUniversityEdit}}
<main>
    <header>
        <!-- header -->
        <div class="flex-container header-container">
            {{> headerRecords}}
            <!-- profile -->
            <div class="grid-container">
                {{> profileStudent}}
                <div class="activestatus grid-item-nine item-status">{{studentData.active_status}}</div>
                <div class="exemptionstatus grid-item-ten item-status">{{studentData.exemption_status}}</div>
                <button id="myButtonProfileEdit" class="grid-item-ten myButtonProfileEdit">
                    <img src="../img/Group 40.png" alt="Edit Student Profile" class="img-edit-student-profile" />
                </button>

                {{!-- <div class="grid-item-nine item-status">
                    <label class="toggle">
                        <input type="checkbox">
                        <span class="slider"></span>
                        <span class="labels" data-on="ACTIVE" data-off="INACTIVE"></span>
                    </label>
                </div>
                <div class="grid-item-ten item-status">
                    <div>
                        <label class="toggle">
                            <input type="checkbox">
                            <span class="slider"></span>
                            <span class="labels" data-on="EXEMPT." data-off="N.EXEMPT."></span>
                        </label>
                    </div>
                    <button>
                        <img src="../img/Group 40.png" alt="Edit Student Profile" class="img-edit-student-profile" />
                    </button>
                </div> --}}

            </div>
        </div>
    </header>
    <section>
        <!-- academic period -->
        <div class="flex-container academic-period-container">
            <div class="flex-container academic-year">
                <div class="academic-year-name academic-year-present">
                    <a href="#" id="main-record-link">A.Y. 2022-2023</a>
                </div>
                <div class="academic-year-name academic-year-past academic-year-previous">
                    <a href="#" id="main-record-link">A.Y. 2021-2022</a>
                </div>
                <div class="academic-year-name academic-year-past academic-year-others">
                    <a href="#" id="main-record-link">. . .</a>
                </div>
            </div>
        </div>
        <!-- semester -->
        <div class="flex-container semester-container">
            <div class="flex-container activity">
                <div class="activity-name">CCSEA WEEK</div>
                <div class="activity-day">
                    <select name="activity day dropdown" id="activity-day-dropdown">
                        <option value="DAY 1" class="options">DAY 1</option>
                        <option value="DAY 2">DAY 2</option>
                        <option value="DAY 3">DAY 3</option>
                    </select>
                </div>
            </div>
            <div class="flex-container semester">
                <div class="semester-name semester-one">
                    <a href="#" id="main-record-link">1ST SEMESTER</a>
                </div>
                <div class="semester-name semester-two">
                    <a href="#" id="main-record-link">2ND SEMESTER</a>
                </div>
            </div>
        </div>
    </section>

    <article>
        <div class="record-container">
            <div class="activities-record">
                <div class="flex-container activities-header">
                    <div class="flex-container activities-header-one">
                        <div class="flex-container activity-title">
                            <h3>ACTIVITIES</h3>
                            <button id="myButtonActivityAdd" class="myButtonActivityAdd"
                                data-popup-id="myPopupActivityAdd">
                                <img src="../img/Add_ring_fill2.png" alt="Add Activity" class="img-add-activity" />
                            </button>
                            <div id="myPopupActivityAdd" class="popup myPopupActivity">
                                <div class="flex-container popup-content">
                                    <span id="closeButton" class="close-button closePopup"
                                        data-popup-id="myPopupActivityAdd">&times;</span>
                                    <h1>ADD ACTIVITY</h1>
                                    <div class="flex-container add-activities-container">
                                        <div class="flex-container add-activities-holder">
                                            <div class="inputsActivity">
                                                <input type="text" name="activityname" placeholder="Activity Name"
                                                    class="activityname-main add-activity-inputs" />
                                                <input type="date" name="activitydate"
                                                    class="activitydate add-activity-inputs" />
                                            </div>
                                        </div>

                                        <div class="flex-container add-activities-container-button">
                                            <button id="addMoreActivities" class="addMoreActivities" type="button">Add
                                                More Activities</button>
                                            <button id="closePopup" class="closePopup"
                                                data-popup-id="myPopupActivityAdd" type="button">SAVE</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-container activities-header-two">
                        <div class="sort-by">
                            <div class="flex-container sort-by-container">
                                <div class="sort-by-item">SORT BY</div>
                                <div>
                                    <img src="../img/Group 30.png" alt="sort icon">
                                </div>
                            </div>
                            <div class="dropdown-content">
                                <a href="#">ACTIVITY NAME</a>
                                <a href="#">DATE</a>
                                <a href="#">ROLE</a>
                                <a href="#">POINTS</a>
                                <a href="#">OFFICER-IN-CHARGE</a>
                            </div>
                        </div>
                        <div class="filter-by">
                            <div class="flex-container filter-by-container">
                                <div class="filter-by-item">FILTER BY</div>
                                <div>
                                    <img src="../img/Group 30.png" alt="filter icon">
                                </div>
                            </div>
                            <div class="dropdown-content dropdown-content-two">
                                <a href="#">ACTIVITIES PARTICIPATED</a>
                                <a href="#">ACTIVITIES MISSED</a>
                            </div>
                        </div>
                        <div class="activity-searchspace">
                            <div class="form-group">
                                <input type="search" id="searchActivity" class="form-control" placeholder="Search...">
                            </div>
                            <span class="material-symbols-outlined" style="color:white;">search</span>
                        </div>
                    </div>
                </div>

                <!-- participation record table -->
                <div class="participation-record-table">
                    <!-- activities table -->
                    <table class="activities-table">
                        <tr>
                            <th>ACTIVITY NAME</th>
                            <th>DATE</th>
                            <th>ROLE</th>
                            <th>POINTS</th>
                            <th>OFFICER-IN-CHARGE</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex-container">
                                    <div class="flex-container edit-activity-images">
                                        <button type="button" id="myButtonActivityEdit1"
                                            class="myButtonActivityEdit modify-button"
                                            data-popup-id="myPopupActivityEdit1">
                                            <img src="../img/Edit (1).png" alt="Edit Activity"
                                                class="img-edit-activity-details">
                                        </button>

                                        <div id="myPopupActivityEdit1" class="popup">
                                            <div class="flex-container popup-content">
                                                <span id="closeButton" class="close-button closePopup"
                                                    data-popup-id="myPopupActivityEdit1">&times;</span>
                                                <h1>EDIT ACTIVITY</h1>
                                                <div class="flex-container add-activities-holder">
                                                    <div>
                                                        <input type="text" name="activityname"
                                                            placeholder="Activity Name"
                                                            class="activityname-main add-activity-inputs" />
                                                        <input type="date" name="activitydate"
                                                            class="activitydate add-activity-inputs" />
                                                    </div>
                                                </div>

                                                <div class="flex-container add-activities-container-button">
                                                    <button id="closePopup" class="closePopup" type="button"
                                                        data-popup-id="myPopupActivityEdit1">SAVE</button>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="button" id="myButtonActivityDelete1"
                                            class="myButtonActivityDelete modify-button"
                                            data-popup-id="myPopupActivityDelete1">
                                            <img src="../img/Cancel.png" alt="Delete Activity"
                                                class="img-delete-activity">
                                        </button>
                                    </div>
                                    <p class="activityNameSpecific">Painting Contest</p>
                                </div>

                            </td>
                            <div id="myPopupActivityDelete1" class="popup">
                                <div class="flex-container popup-content">
                                    <span id="closeButton" class="close-button closePopup"
                                        data-popup-id="myPopupActivityDelete1">&times;</span>
                                    <h1>DELETE ACTIVITY?</h1>
                                    <h3>WARNING</h3>
                                    <p class="delete-warning">This will remove all existing records stored within the
                                        activity page. Are you sure you wish to proceed?
                                    </p>

                                    <div class="flex-container add-activities-container-button">
                                        <button id="closeDeletePopup" class="closePopup" type="button"
                                            data-popup-id="myPopupActivityDelete1">DELETE</button>
                                    </div>
                                </div>
                            </div>

                            <td>09/08/22</td>
                            <td>
                                <select name="student role dropdown" class="student-role-dropdown" disabled>
                                    <option disabled="disabled" selected="selected">Select Student Role</option>
                                    <option value="INDIV Participant">INDIV Participant</option>
                                    <option value="TEAM Participant">TEAM Participant</option>
                                    <option value="PROG. Spectator">PROG. Spectator</option>
                                    <option value="OTH. Spectator">OTH. Spectator</option>
                                </select>
                            </td>
                            <td>5</td>
                            <td>Ryle Ilisan</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex-container">
                                    <div class="flex-container edit-activity-images">
                                        <button type="button" id="myButtonActivityEdit2"
                                            class="myButtonActivityEdit modify-button"
                                            data-popup-id="myPopupActivityEdit2">
                                            <img src="../img/Edit (1).png" alt="Edit Activity"
                                                class="img-edit-activity-details">
                                        </button>

                                        <div id="myPopupActivityEdit2" class="popup">
                                            <div class="flex-container popup-content">
                                                <span id="closeButton" class="close-button closePopup"
                                                    data-popup-id="myPopupActivityEdit1">&times;</span>
                                                <h1>EDIT ACTIVITY</h1>
                                                <div class="flex-container add-activities-holder">
                                                    <div>
                                                        <input type="text" name="activityname"
                                                            placeholder="Activity Name"
                                                            class="activityname-main add-activity-inputs" />
                                                        <input type="date" name="activitydate"
                                                            class="activitydate add-activity-inputs" />
                                                    </div>
                                                </div>

                                                <div class="flex-container add-activities-container-button">
                                                    <button id="closePopup" class="closePopup" type="button"
                                                        data-popup-id="myPopupActivityEdit2">SAVE</button>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="button" id="myButtonActivityDelete2"
                                            class="myButtonActivityDelete modify-button"
                                            data-popup-id="myPopupActivityDelete2">
                                            <img src="../img/Cancel.png" alt="Delete Activity"
                                                class="img-delete-activity">
                                        </button>
                                    </div>
                                    <p class="activityNameSpecific">Tug of War</p>
                                </div>

                            </td>
                            <div id="myPopupActivityDelete2" class="popup">
                                <div class="flex-container popup-content">
                                    <span id="closeButton" class="close-button closePopup"
                                        data-popup-id="myPopupActivityDelete2">&times;</span>
                                    <h1>DELETE ACTIVITY?</h1>
                                    <h3>WARNING</h3>
                                    <p class="delete-warning">This will remove all existing records stored within the
                                        activity page. Are you sure you wish to proceed?
                                    </p>

                                    <div class="flex-container add-activities-container-button">
                                        <button id="closeDeletePopup" class="closePopup" type="button"
                                            data-popup-id="myPopupActivityDelete2">DELETE</button>
                                    </div>
                                </div>
                            </div>

                            <td>09/08/22</td>
                            <td>
                                <select name="student role dropdown" class="student-role-dropdown" disabled>
                                    <option disabled="disabled" selected="selected">Select Student Role</option>
                                    <option value="INDIV Participant">INDIV Participant</option>
                                    <option value="TEAM Participant">TEAM Participant</option>
                                    <option value="PROG. Spectator">PROG. Spectator</option>
                                    <option value="OTH. Spectator">OTH. Spectator</option>
                                </select>
                            </td>
                            <td>5</td>
                            <td>Ryle Ilisan</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex-container">
                                    <div class="flex-container edit-activity-images">
                                        <button type="button" id="myButtonActivityEdit3"
                                            class="myButtonActivityEdit modify-button"
                                            data-popup-id="myPopupActivityEdit3">
                                            <img src="../img/Edit (1).png" alt="Edit Activity"
                                                class="img-edit-activity-details">
                                        </button>

                                        <div id="myPopupActivityEdit3" class="popup">
                                            <div class="flex-container popup-content">
                                                <span id="closeButton" class="close-button closePopup"
                                                    data-popup-id="myPopupActivityEdit1">&times;</span>
                                                <h1>EDIT ACTIVITY</h1>
                                                <div class="flex-container add-activities-holder">
                                                    <div>
                                                        <input type="text" name="activityname"
                                                            placeholder="Activity Name"
                                                            class="activityname-main add-activity-inputs" />
                                                        <input type="date" name="activitydate"
                                                            class="activitydate add-activity-inputs" />
                                                    </div>
                                                </div>

                                                <div class="flex-container add-activities-container-button">
                                                    <button id="closePopup" class="closePopup" type="button"
                                                        data-popup-id="myPopupActivityEdit3">SAVE</button>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="button" id="myButtonActivityDelete3"
                                            class="myButtonActivityDelete modify-button"
                                            data-popup-id="myPopupActivityDelete3">
                                            <img src="../img/Cancel.png" alt="Delete Activity"
                                                class="img-delete-activity">
                                        </button>
                                    </div>
                                    <p class="activityNameSpecific">Paint War</p>
                                </div>

                            </td>
                            <div id="myPopupActivityDelete3" class="popup">
                                <div class="flex-container popup-content">
                                    <span id="closeButton" class="close-button closePopup"
                                        data-popup-id="myPopupActivityDelete3">&times;</span>
                                    <h1>DELETE ACTIVITY?</h1>
                                    <h3>WARNING</h3>
                                    <p class="delete-warning">This will remove all existing records stored within the
                                        activity page. Are you sure you wish to proceed?
                                    </p>

                                    <div class="flex-container add-activities-container-button">
                                        <button id="closeDeletePopup" class="closePopup" type="button"
                                            data-popup-id="myPopupActivityDelete3">DELETE</button>
                                    </div>
                                </div>
                            </div>

                            <td>09/08/22</td>
                            <td>
                                <select name="student role dropdown" class="student-role-dropdown" disabled>
                                    <option disabled="disabled" selected="selected">Select Student Role</option>
                                    <option value="INDIV Participant">INDIV Participant</option>
                                    <option value="TEAM Participant">TEAM Participant</option>
                                    <option value="PROG. Spectator">PROG. Spectator</option>
                                    <option value="OTH. Spectator">OTH. Spectator</option>
                                </select>
                            </td>
                            <td>5</td>
                            <td>Angel Hisoler</td>
                        </tr>
                        <tr class="hidden-row" data-visible="false">
                            <td>
                                <div class="flex-container">
                                    <div class="flex-container edit-activity-images">
                                        <button type="button" id="myButtonActivityEdit4"
                                            class="myButtonActivityEdit modify-button"
                                            data-popup-id="myPopupActivityEdit4">
                                            <img src="../img/Edit (1).png" alt="Edit Activity"
                                                class="img-edit-activity-details">
                                        </button>

                                        <div id="myPopupActivityEdit4" class="popup">
                                            <div class="flex-container popup-content">
                                                <span id="closeButton" class="close-button closePopup"
                                                    data-popup-id="myPopupActivityEdit4">&times;</span>
                                                <h1>EDIT ACTIVITY</h1>
                                                <div class="flex-container add-activities-holder">
                                                    <div>
                                                        <input type="text" name="activityname"
                                                            placeholder="Activity Name"
                                                            class="activityname-main add-activity-inputs" />
                                                        <input type="date" name="activitydate"
                                                            class="activitydate add-activity-inputs" />
                                                    </div>
                                                </div>

                                                <div class="flex-container add-activities-container-button">
                                                    <button id="closePopup" class="closePopup" type="button"
                                                        data-popup-id="myPopupActivityEdit4">SAVE</button>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="button" id="myButtonActivityDelete4"
                                            class="myButtonActivityDelete modify-button"
                                            data-popup-id="myPopupActivityDelete4">
                                            <img src="../img/Cancel.png" alt="Delete Activity"
                                                class="img-delete-activity">
                                        </button>
                                    </div>
                                    <p class="activityNameSpecific">Fashion Show</p>
                                </div>

                            </td>
                            <div id="myPopupActivityDelete4" class="popup">
                                <div class="flex-container popup-content">
                                    <span id="closeButton" class="close-button closePopup"
                                        data-popup-id="myPopupActivityDelete4">&times;</span>
                                    <h1>DELETE ACTIVITY?</h1>
                                    <h3>WARNING</h3>
                                    <p class="delete-warning">This will remove all existing records stored within the
                                        activity page. Are you sure you wish to proceed?
                                    </p>

                                    <div class="flex-container add-activities-container-button">
                                        <button id="closeDeletePopup" class="closePopup" type="button"
                                            data-popup-id="myPopupActivityDelete4">DELETE</button>
                                    </div>
                                </div>
                            </div>

                            <td>09/08/22</td>
                            <td>
                                <select name="student role dropdown" class="student-role-dropdown" disabled>
                                    <option disabled="disabled" selected="selected">Select Student Role</option>
                                    <option value="INDIV Participant">INDIV Participant</option>
                                    <option value="TEAM Participant">TEAM Participant</option>
                                    <option value="PROG. Spectator">PROG. Spectator</option>
                                    <option value="OTH. Spectator">OTH. Spectator</option>
                                </select>
                            </td>
                            <td>5</td>
                            <td>Angel Hisoler</td>
                        </tr>
                        <tr class="hidden-row" data-visible="false">
                            <td>
                                <div class="flex-container">
                                    <div class="flex-container edit-activity-images">
                                        <button type="button" id="myButtonActivityEdit5"
                                            class="myButtonActivityEdit modify-button"
                                            data-popup-id="myPopupActivityEdit5">
                                            <img src="../img/Edit (1).png" alt="Edit Activity"
                                                class="img-edit-activity-details">
                                        </button>

                                        <div id="myPopupActivityEdit5" class="popup">
                                            <div class="flex-container popup-content">
                                                <span id="closeButton" class="close-button closePopup"
                                                    data-popup-id="myPopupActivityEdit5">&times;</span>
                                                <h1>EDIT ACTIVITY</h1>
                                                <div class="flex-container add-activities-holder">
                                                    <div>
                                                        <input type="text" name="activityname"
                                                            placeholder="Activity Name"
                                                            class="activityname-main add-activity-inputs" />
                                                        <input type="date" name="activitydate"
                                                            class="activitydate add-activity-inputs" />
                                                    </div>
                                                </div>

                                                <div class="flex-container add-activities-container-button">
                                                    <button id="closePopup" class="closePopup" type="button"
                                                        data-popup-id="myPopupActivityEdit5">SAVE</button>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="button" id="myButtonActivityDelete4"
                                            class="myButtonActivityDelete modify-button"
                                            data-popup-id="myPopupActivityDelete5">
                                            <img src="../img/Cancel.png" alt="Delete Activity"
                                                class="img-delete-activity">
                                        </button>
                                    </div>
                                    <p class="activityNameSpecific">Volleyball</p>
                                </div>

                            </td>
                            <div id="myPopupActivityDelete5" class="popup">
                                <div class="flex-container popup-content">
                                    <span id="closeButton" class="close-button closePopup"
                                        data-popup-id="myPopupActivityDelete5">&times;</span>
                                    <h1>DELETE ACTIVITY?</h1>
                                    <h3>WARNING</h3>
                                    <p class="delete-warning">This will remove all existing records stored within the
                                        activity page. Are you sure you wish to proceed?
                                    </p>

                                    <div class="flex-container add-activities-container-button">
                                        <button id="closeDeletePopup" class="closePopup" type="button"
                                            data-popup-id="myPopupActivityDelete5">DELETE</button>
                                    </div>
                                </div>
                            </div>

                            <td>09/08/22</td>
                            <td>
                                <select name="student role dropdown" class="student-role-dropdown" disabled>
                                    <option disabled="disabled" selected="selected">Select Student Role</option>
                                    <option value="INDIV Participant">INDIV Participant</option>
                                    <option value="TEAM Participant">TEAM Participant</option>
                                    <option value="PROG. Spectator">PROG. Spectator</option>
                                    <option value="OTH. Spectator">OTH. Spectator</option>
                                </select>
                            </td>
                            <td>5</td>
                            <td>Angel Hisoler</td>
                        </tr>
                        <tr class="see-more-row">
                            <td class="see-more" colspan="5">See More</td>
                        </tr>
                    </table>
                    <div class="results-grid-container">
                        <div class="grid-item-sixteen">
                            <div class="verification-item">VERIFY DAY</div>
                            <div class="verification-check">
                                <label class="checkbox-container">
                                    <input checked="checked" type="checkbox" disabled>
                                    <div class="checkmark"></div>
                                </label>
                            </div>
                        </div>
                        <div class="grid-item-seventeen">
                            ACTIVITY <br> SUBTOTAL <br>
                            <h1>25</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="attendance-record">
                <div class="flex-container attendance-header">
                    <div class="flex-container activities-header-one">
                        <div class="attendance-title">
                            <h3>ATTENDANCE</h3>
                        </div>
                    </div>
                    <div class="flex-container attendance-header-two">
                        <div class="sort-by">
                            <div class="flex-container sort-by-container">
                                <div class="sort-by-item">
                                    SORT BY
                                </div>
                                <div>
                                    <img src="../img/Group 30.png" alt="sort icon">
                                </div>
                            </div>
                            <div class="dropdown-content">
                                <a href="#">DATE</a>
                                <a href="#">AM</a>
                                <a href="#">PM</a>
                                <a href="#">POINTS</a>
                                <a href="#">OFFICER-IN-CHARGE</a>
                            </div>
                        </div>
                        <div class="filter-by">
                            <div class="flex-container filter-by-container">
                                <div class="filter-by-item">
                                    FILTER BY
                                </div>
                                <div>
                                    <img src="../img/Group 30.png" alt="filter icon">
                                </div>
                            </div>
                            <div class="dropdown-content dropdown-content-two">
                                <a href="#">MORNING ABSENCES</a>
                                <a href="#">AFTERNOON ABSENCES</a>
                            </div>
                        </div>
                        <div class="attendance-searchspace">
                            <div class="form-group">
                                <input type="search" id="searchAttendance" class="form-control" placeholder="Search...">
                            </div>
                            <span class="material-symbols-outlined" style="color:white;">
                                search
                            </span>
                        </div>
                    </div>
                </div>

                <!-- participation record table -->
                <div class="participation-record-table">
                    <!-- attendance table -->
                    <table class="attendance-table">
                        <tr>
                            <th rowspan="2">DATE</th>
                            <th>AM</th>
                            <th colspan="2">PM</th>
                            <th rowspan="2">POINTS</th>
                            <th rowspan="2">OFFICER-IN-CHARGE</th>
                        </tr>
                        <tr>
                            <td>LOG-IN</td>
                            <td>LOG-IN</td>
                            <td>LOG-OUT</td>
                        </tr>
                        <tr>
                            <td>
                                September 8, 2022
                            </td>
                            <td>
                                <input type="checkbox" class="disabled-checkbox" class="hidden-checkbox" disabled>
                            </td>
                            <td>
                                <input type="checkbox" class="disabled-checkbox" class="hidden-checkbox" disabled>
                            </td>
                            <td>
                                <input type="checkbox" class="disabled-checkbox" class="hidden-checkbox" disabled>
                            </td>
                            <td>5</td>
                            <td>Ryle Ilisan</td>
                        </tr>
                    </table>
                    <div class="results-grid-container">
                        <div class="grid-item-sixteen">
                            <div class="verification-item">VERIFY DAY</div>
                            <div class="verification-check">
                                <label class="checkbox-container">
                                    <input checked="checked" type="checkbox" disabled>
                                    <div class="checkmark"></div>
                                </label>
                            </div>
                        </div>
                        <div class="grid-item-seventeen">
                            <div>ATTENDANCE <br> SUBTOTAL</div>
                            <div>
                                <h1>25</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="../js/popup.js"></script>
<script>
    $('[id^="myButtonActivityEdit"]').on('click', function () {
        var buttonId = $(this).attr('id');
        var popupId = $(this).attr('data-popup-id');
        var activityNameSpecific = $('#' + buttonId).closest('td').find('.activityNameSpecific').text();
        var activityNameInput = $('#' + popupId).find('.activityname-main');
        activityNameInput.val(activityNameSpecific);
    });
</script>