.img-add-event {
  width: 1.4rem;
  cursor: pointer;
  margin-left: -1rem;
  margin-top: 0.1rem;
}

/* activity & exemption status */

/* .item-status {
  text-align: center;
  background-color: var(--main-green);
} */

/* .grid-item-ten {
  display: flex;
} */

.item-status {
  height: 1.7rem;
  font-size: 0.8rem;
}

.grid-item-nine {
  width: 8rem;
  margin-left: 1.5rem;
}

.grid-item-ten {
  width: 8rem;
  margin-left: -4rem;
}

.myButtonProfileEdit {
  padding-left: 6rem;
}

.img-edit-student-profile {
  width: 2rem;
  height: 1.8rem;
  margin-left: 4rem;
}

.toggle {
  --width: 6rem;
  --height: calc(var(--width) / 4);
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: rgb(253, 235, 235);
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: var(--darkest-green);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
  background-color: #407462;
}

.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
  position: absolute;
  top: 0.3rem;
  left: 0;
  margin-left: 0.1rem;
  width: 100%;
  height: 100%;
  font-size: 0.7rem;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 5px;
  margin-right: 0.2rem;
  color: var(--main-color);
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 5px;
  color: #ffffff;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked ~ .labels::after {
  opacity: 0;
}

.toggle input:checked ~ .labels::before {
  opacity: 1;
}

/* popups */

button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.img-edit-event {
  margin-left: -3.5rem;
  width: 1.2rem;
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.popup-content {
  background-color: white;
  margin: 10% auto;
  padding: 1.3rem;
  width: 40%;
  font-weight: bolder;
  border-radius: 15px;
  justify-content: center;
}

.popup-content h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--main-green);
  font-size: 1.5rem;
  margin-top: -0.5rem;
}

.popup-content h3 {
  display: flex;
  justify-content: center;
  width: 100%;
  color: red;
  margin-top: -0.1rem;
}

.close-button {
  text-align: end;
  width: 100%;
}

#eventScope {
  padding: 0 0.5rem;
}

.event-titlehead {
  margin-bottom: -0.4rem;
}

.add-events-container,
.add-activities-container {
  width: 95%;
  margin-top: -1rem;
}

.add-events-holder,
.add-activity-holder {
  justify-content: center;
  margin-bottom: 1.3rem;
  margin: auto;
}

.add-event-inputs,
.add-activity-inputs,
input[name="activityname[]"],
input[name="activitydate[]"] {
  color: var(--main-green);
  font-weight: bold;
}

.add-event-inputs::placeholder,
.add-activity-inputs::placeholder,
input[name="activityname[]"]::placeholder,
input[name="activitydate[]"]::placeholder {
  font-weight: lighter;
}

#eventnameInput {
  text-transform: uppercase;
}

.eventname,
.activityname-title {
  text-align: center;
  width: 100%;
}

.eventname,
.eventdate,
.activityname-title
/* .activitydate-main  */ {
  border: 2px solid var(--main-green);
  border-radius: 15px;
  padding: 0.4rem 0.3rem 0.4rem 0.7rem;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.eventdate
/* .activitydate-main  */ {
  width: 47%;
}

.date-dash {
  margin-top: -0.3rem;
  padding: 0 0.5rem;
  color: black;
}

.activityname,
.activityname-main,
.activitydate {
  border: 2px solid var(--main-green);
  border-radius: 15px;
  font-size: 0.9rem;
}

.eventdate
/* .activitydate-main  */ {
  padding: 0.2rem 2.5rem;
  text-align: center;
}

.container-event-days {
  justify-content: start;
  width: 98%;
  margin-top: -0.7rem;
}

.eventdays {
  border: 2px solid var(--main-green);
  border-radius: 15px;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-size: 0.9rem;
  margin-left: 0.3rem;
  width: 2rem;
}

.set-events-date {
  display: flex;
  justify-content: space-between;
  width: 95%;
  color: var(--main-green);
}

.popup-hr {
  margin-top: 0.4rem;
  margin-left: 0;
  margin-bottom: 1rem;
  width: 97%;
}

.add-activities-events-holder,
.add-activities-holder {
  color: var(--main-green);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.activityname,
.activityname-main {
  padding: 0.2rem 7.8rem 0.2rem 0.7rem;
  margin-right: 1.5rem;
  width: 60%;
}

.activitydate {
  padding: 0.18rem 0.5rem;
}

.img-add-activity,
.img-edit-event {
  cursor: pointer;
}

.activityname-main {
  border: 2px solid var(--main-green);
  border-radius: 15px;
  font-size: 0.9rem;
  padding: 0.2rem 0.7rem;
  margin-right: 1rem;
  width: 59%;
}

/* input[name="activityname[]"] {
  border: 2px solid var(--main-green);
  border-radius: 15px;
  font-size: 0.9rem;
  padding: 0.2rem 0.7rem;
  margin-right: 1rem;
  width: 59%;
} */

.activitydate {
  border: 2px solid var(--main-green);
  border-radius: 15px;
  font-size: 0.9rem;
  padding: 0.18rem 0.5rem;
  width: 37%;
  text-align: center;
}

/* input[name="activitydate[]"] {
  border: 2px solid var(--main-green);
  border-radius: 15px;
  font-size: 0.9rem;
  padding: 0.18rem 0.5rem;
  width: 37%;
  text-align: center;
} */

.popup-content button {
  display: block;
  margin: 0 auto;
  background-color: var(--main-green);
  color: white;
  font-weight: bold;
  border-radius: 15px;
  padding: 0.4rem 1rem;
  margin-bottom: 1rem;
}

.add-events-container-button,
.add-activities-container-button {
  width: 98%;
  margin-top: 1rem;
}

#addMore,
#addMoreActivities,
#confirmButton,
#confirmActivityButton,
#closePopup,
#saveEventButton,
#closeDeletePopup {
  font-size: 1rem;
}

#addMore,
#addMoreActivities {
  margin-left: 0;
}

#confirmButton,
#confirmActivityButton,
#closePopup,
#saveEventButton {
  margin-right: 0;
}

.delete-warning {
  color: black;
  text-align: center;
  margin-top: -0.5rem;
}

.show {
  display: block;
}

/* PARTICIPATION RECORD TABLE */

.img-add-activity {
  width: 1.5rem;
  margin-left: 0.2rem;
}

/* activities table */

.activityNameSpecificEdit {
  text-align: left;
}

.edit-activity-images {
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.img-modify-event-container {
  width: 5%;
}

.img-delete-activity,
.img-delete-event {
  margin-left: 0.5rem;
  width: 1.1rem;
}

.img-delete-activity {
  margin-right: 1rem;
}

.img-delete-event {
  margin-left: -1.2rem;
  width: 1.2rem;
}

#myButtonActivityEdit,
#myButtonActivityDelete,
.modify-button {
  padding: 0;
}

/* subtotal */

.checkbox-container input[disabled] {
  pointer-events: none; /* Disable mouse events */
  opacity: 0.5; /* Make it visually appear disabled (adjust opacity as needed) */
  cursor: not-allowed; /* Change cursor to indicate it's disabled */
  cursor: default;
}

.checkbox-container input[disabled] ~ .checkmark {
  background-color: gray; /* Change the background color to gray or any desired disabled color */
  border-color: gray; /* Change the border color to match the background */
  opacity: 0.5; /* Reduce opacity to make it appear disabled */
}

.checkmark {
  opacity: 0.9;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--tertiary-green);
  opacity: 0.9;
  transition: all 0.2s ease;
}
